image:
  tag: '{{ git.revision[:8] }}-P{{ git.build_pipeline }}'
  {% if image|default() and image.repository -%}
  repository: '{{ image.repository }}'
  {%- endif %}

latestSnapshots:
  image:
    tag: '{{ latest_snapshots.tag }}'
  resources:
    {{ latest_snapshots.resources | default({}) | to_yaml | indent(4) }}

persistence:
  size: '{{ volume_size | default("1Gi") }}'

gpg:
  enabled: true
  keys:
    - |
      {{ gpg_secret.key | indent(width=6) }}

ingress:
  enabled: true
  className: traefik
  annotations:
    cert-manager.io/cluster-issuer: '{{ certificate_issuer }}'
  hosts:
    - host: '{{ ingress.hostname }}'
      paths:
        - path: '{{ ingress.path }}'
          pathType: ImplementationSpecific
  tls:
    - secretName: aptly-repositories-tls
      hosts:
        - '{{ ingress.hostname }}'

api:
  resources:
    {{ api.resources | default({}) | to_yaml | indent(4) }}
{% if api.no_lock_db is defined and api.no_lock_db %}
  extraArgs:
    - -no-lock
{% endif %}
{% if api_gomemlimit is defined %}
  extraEnvVars:
    # Note that this is a *soft* limit and should generally be set to around
    # the value of api_resources.memory or a little lower.
    - name: GOMEMLIMIT
      value: {{ api_gomemlimit }}
{% endif %}

publish:
  config:
    after_modules: |
      {{ after_modules | default("") | indent(width=6) }}

    after_body: |
      {{ after_body | default("") | indent(width=6) }}

extraVolumes:
  {{ extraVolumes | default({}) }}

extraVolumeMounts:
  {{ extraVolumeMounts | default({})  }}
