service:
  type: ClusterIP
serverBlock: |
  server {
    listen 0.0.0.0:8080;

    location /check {
      default_type application/json;
      if ($http_authorization != 'Bearer {{ api_secret.token }}') {
        return 401 '{ "error": "unauthorized" }';
      }

      return 200 '{ "sub": "token", "extra": {} }';
    }
  }
