{% set aptly_path = ingress.path + '/_aptly' %}

image:
  repository: registry.gitlab.apertis.org/infrastructure/oathkeeper@sha256
  tag: a7c666410ec219885b9408ffa6782ee9b2027fa14ed4305c54c705fc5965bd66

ingress:
  proxy:
    enabled: true
    className: traefik
    annotations:
      cert-manager.io/cluster-issuer: '{{ certificate_issuer }}'
    hosts:
      - host: '{{ ingress.hostname }}'
        paths:
          - path: '{{ aptly_path }}'
            pathType: ImplementationSpecific
    tls:
      - secretName: aptly-oathkeeper-api-tls
        hosts:
          - '{{ ingress.hostname }}'
oathkeeper:
  accessRules: |
    - id: aptly
      upstream:
        url: http://aptly:8080
        strip_path: '{{ aptly_path }}'
      match:
        url: <http(s?)>://{{ ingress.hostname }}{{ aptly_path }}<$|/.*>
        methods:
          - GET
          - POST
          - PUT
          - DELETE
      authenticators:
        - handler: bearer_token
      authorizer:
        handler: allow
      mutators:
        - handler: noop
  config:
    authenticators:
      bearer_token:
        enabled: true
        config:
          check_session_url: http://nginx-token-auth/check
          preserve_path: true
          preserve_query: true
    authorizers:
      allow:
        enabled: true
    mutators:
      noop:
        enabled: true
    serve:
      proxy:
        timeout:
          read: "15m"
          write: "15m"

maester:
  enabled: false
