adminUser: {{ adminuser }}

grafana.ini:
    auth:
      allow_sign_up: false
      oauth_auto_login: true

    auth.basic:
      enabled: false

    auth.generic_oauth:
        enabled: true
        client_id: $__file{/etc/secrets/auth_generic_oauth/client_id}
        client_secret: $__file{/etc/secrets/auth_generic_oauth/client_secret}
        auth_url: "https://login.collabora.com/auth/realms/master/protocol/openid-connect/auth"
        token_url: "https://login.collabora.com/auth/realms/master/protocol/openid-connect/token"
        api_url: "https://login.collabora.com/auth/realms/master/protocol/openid-connect/userinfo"
        scopes: "openid email"
        skip_org_role_sync: true

    server:
      root_url: https://{{ hostname }}

deploymentStrategy:
  type: Recreate

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: Loki
      type: loki
      url: "http://monitoring-loki-loki-distributed-gateway.monitoring"
    - name: Prometheus
      type: prometheus
      url: "http://monitoring-prometheus-monitoring.monitoring"
      access: proxy
      isDefault: true
    - name: alertmanager
      type: alertmanager
      url: http://monitoring-prometheus-alertmanager.monitoring:9093
      access: proxy
      jsonData:
        handleGrafanaManagedAlerts: true
        implementation: prometheus

persistence:
  enabled: true
  storageClassName: {{ storage_class | default(default_storage_class) | default() }}

extraSecretMounts:
  - name: {{ name }}-oauth-secret-mount
    secretName: {{ name }}-oauth-secret
    defaultMode: 0440
    mountPath: /etc/secrets/auth_generic_oauth
    readOnly: true

ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-issuer
  hosts:
    - {{ hostname }}
  tls:
    - secretName: {{ name }}-tls
      hosts:
        - {{ hostname }}

resources:
  requests:
    cpu: 100m
    memory: 128Mi

podAnnotations:
   checksum/oauth-secret: {{ oauth_secret_sha256 }}   
