---
loki:
  podAnnotations:
    checksum/loki-storage-secret: {{ loki_storage_secret_sha256 }}
  structuredConfig:
    ingester:
      # Disable chunk transfer which is not possible with statefulsets
      # and unnecessary for boltdb-shipper
      max_transfer_retries: 0
      chunk_idle_period: 1h
      chunk_target_size: 1536000
      max_chunk_age: 1h

    storage_config:
      aws:
        bucketnames: "{{ bucketname }}"
        endpoint: ams3.digitaloceanspaces.com
        access_key_id: "${S3_ACCESS_KEY}"
        secret_access_key: "${S3_SECRET_ACCESS_KEY}"
        region: ams3
        s3forcepathstyle: true
      boltdb_shipper:
        shared_store: s3
  
    schema_config:
      configs:
        - from: "2023-08-01"
          store: boltdb-shipper
          object_store: aws
          schema: v12
          index:
            prefix: loki_index_
            period: 24h

    limits_config:
      # 6 months of retention
      retention_period: 4320h
      max_query_lookback: 4320h
      split_queries_by_interval: 24h

compactor:
  enabled: true
  retention_enabled: true
  retention_delete_delay: 2h
  retention_delete_worker_count: 150
  delete_request_store: s3
  compaction_interval: 10m
  extraArgs:
    - "-config.expand-env=true"
  extraEnv:
    - name: S3_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: {{ name -}} -loki-s3
          key: key
    - name: S3_SECRET_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: {{ name -}} -loki-s3
          key: secret-key

# Setup environment variable, configuration with environment expansion and resource requests
{% set services = {
  "ingester":      { "cpu": "30m",  "memory": "1Gi"  },
  "distributor":   { "cpu": "100m", "memory": "64Mi" },
  "gateway":       { "cpu": "10m",  "memory": "16Mi" },
  "querier":       { "cpu": "30m",  "memory": "1Gi"  },
  "queryFrontend": { "cpu": "5m",   "memory": "64Mi" },
} %}
{% for service in services %}
{{ service }}:
  extraArgs:
    - "-config.expand-env=true"
  extraEnv:
    - name: S3_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: {{ name -}} -loki-s3
          key: key
    - name: S3_SECRET_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: {{ name -}} -loki-s3
          key: secret-key
  resources:
    requests:
      cpu: {{ services[service]["cpu"] }}
      memory: {{ services[service]["memory"] }}
{% endfor %}
