alertmanager:
  ## If false, alertmanager will not be installed
  ##
  enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 32Mi

kube-state-metrics:
  ## If false, kube-state-metrics sub-chart will not be installed
  ##
  enabled: true
  resources:
    requests:
      cpu: "2m"
      memory: "35Mi"

server:
  name: {{ name }}
  env:
    - name: "GOGC"
      value: "60"
  persistentVolume:
    ## If true, Prometheus server will create/use a Persistent Volume Claim
    ## If false, use emptyDir
    ##
    enabled: true
    storageClass: {{ storage_class | default(default_storage_class) | default() }}

    ## Prometheus server data Persistent Volume size
    ##
    size: 64Gi
  extraFlags:
    - storage.tsdb.retention.size=57GB
    - enable-feature=memory-snapshot-on-shutdown
    - web.enable-lifecycle

  ## Prometheus data retention period (default if not specified is 15 days)
  ##
  ## Current: ~18 months
  retention: "548d"
  resources:
    requests:
      cpu: 500m
      memory: 650Mi

nodeExporter:
  requests:
    cpu: "5m"
    memory: "50Mi"

prometheus-pushgateway:
  ## If false, pushgateway will not be installed
  ##
  enabled: true
