image:
  tag: {{ image.tag }}

backend:
  tag: {{ image.tag }}

ingress:
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-issuer
  enabled: true
  hosts:
    - host: {{ hostname }}
      paths:
        - path: /
          pathType: Prefix
          servicePort: 80
  tls:
    - secretName: apertis-snapshot-service-tls
      hosts:
        - {{ hostname }}
