apiVersion: apps/v1
kind: Deployment
metadata:
  name: oauth2-proxy
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: oauth2-proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: oauth2-proxy
      app.kubernetes.io/instance: oauth2-proxy
  template:
    metadata:
      annotations:
        checksum/html: '{{ confightml }}'
      labels:
        app.kubernetes.io/name: oauth2-proxy
        app.kubernetes.io/instance: oauth2-proxy
    spec:
      securityContext:
        allowPrivilegeEscalation: false
        readOnlyRootFilesystem: true
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
      volumes:
        - name: static-files
          configMap:
            name: static-files
      containers:
        - name: oauth2-proxy
          image: "{{ components.landing.image.repository }}:{{ components.landing.image.tag }}"
          imagePullPolicy: Always
          volumeMounts:
            - name: static-files
              mountPath: /var/www
          args:
          - --http-address=0.0.0.0:8000
          - --cookie-secure=false
          - --pass-access-token
          - --pass-host-header
          - --email-domain=*
          - --upstream=file:///var/www/#/
          - --skip-auth-route
          - --skip-provider-button
          - --skip-auth-regex="/*"
          env:
          - name: OAUTH2_PROXY_CLIENT_ID
            value: "null"
          - name: OAUTH2_PROXY_CLIENT_SECRET
            value: "null"
          - name: OAUTH2_PROXY_COOKIE_SECRET
            value: '{{ cookie_secret.key }}'
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /ping
              port: http
          readinessProbe:
            httpGet:
              path: /ready
              port: http
          resources:
            requests:
              cpu: "100m"
              memory: "50Mi"

  