<!DOCTYPE html>
<html>
<head>
    <title>Apertis Repositories List</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            color: #333;
        }

        ul {
            list-style-type: square;
        }

        li {
            margin: 5px 0;
        }

        a {
            text-decoration: none;
            color: #0077CC;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Apertis Repositories</h1>
    <ul>
      <li><a href="https://repositories.apertis.org/apertis">Apertis Repositories</a></li>
      <li><a href="https://repositories.apertis.org/debian">Debian Repositories</a></li>
    </ul>
</body>
</html>
