role: Agent
customConfig:
  data_dir: /vector-data-dir
  api:
    enabled: true
    address: 127.0.0.1:8686
    playground: false
  sources:
    kubernetes_logs:
      type: kubernetes_logs
    host_metrics:
      filesystem:
        devices:
          excludes: [binfmt_misc]
        filesystems:
          excludes: [binfmt_misc]
        mountpoints:
          excludes: ["*/proc/sys/fs/binfmt_misc"]
      type: host_metrics
    internal_metrics:
      type: internal_metrics
  sinks:
    prom_exporter:
      type: prometheus_exporter
      inputs: [host_metrics, internal_metrics]
      address: 0.0.0.0:9090
    loki:
      type: loki
      inputs: [kubernetes_logs]
      endpoint: "http://monitoring-loki-loki-distributed-gateway.monitoring"
      labels:
{%- raw %}
        "source": "kubernetes"
        "pod_name": |-
          {{ print "{{ kubernetes.pod_name }}" }}
        "pod_namespace": |-
          {{ print "{{ kubernetes.pod_namespace }}" }}
        "container_name": |-
          {{ print "{{ kubernetes.container_name }}" }}
{% endraw %}
      encoding:
        codec: json
resources:
  requests:
    cpu: 120m
    memory: 512Mi
