auth:
  username: '{{ postgresql.username }}'
  password: '{{ postgresql.password }}'
{% if postgresql_secret.resources | length > 0 %}
  postgresPassword: "{{ postgresql_secret.resources[0].data['postgres-password'] | b64decode | trim }}"
{% endif %}
  database: qa-report-app

resources:
  requests:
    cpu: '2'
    memory: 1200Mi

primary:
  persistence:
    size: 32Gi

  # clean shutdown, see https://stackoverflow.com/a/75829325/65624
  terminationGracePeriodSeconds: 70 # the pg_ctl stop timeout + 10 seconds
  lifecycleHooks:
    preStop:
      exec:
        command: 
          - "/usr/bin/env"
          - "pg_ctl"
          - "stop"
          - "--wait"
          - "--timeout=60"
          - "--mode=fast"

global:
  storageClass: {{ postgresql_storage_class | default(default_storage_class) | default() }}
  postgresql:
    auth:
      database: "qa-report-app"
{% if postgresql_secret.resources | length > 0 %}
      postgresPassword: "{{ postgresql_secret.resources[0].data['postgres-password'] | b64decode | trim}}"
{% endif %}

metrics:
  enabled: true
  resources:
    requests:
      cpu: "250m"
      memory: "128Mi"
  customMetrics:
    pg_statio_user_indexes:
      query: |
       SELECT indexrelname, idx_blks_read, idx_blks_hit, ((idx_blks_hit::decimal) / NULLIF((idx_blks_hit + idx_blks_read), 0)) as ratio
       FROM pg_statio_user_indexes
       WHERE idx_blks_read > 0
      metrics:
        - indexrelname:
            usage: "LABEL"
            description: "Name of this index"
        - idx_blks_read:
            usage: "COUNTER"
            description: "Number of disk blocks read for this index"
        - idx_blks_hit:
            usage: "COUNTER"
            description: "Number of buffer hits for this index"
        - ratio:
            usage: "GAUGE"
            description: "Ratio of cache hits for this index"
    pg_statio_user_tables:
      query: |
       SELECT relname, heap_blks_read, heap_blks_hit, ((heap_blks_hit::decimal) / NULLIF((heap_blks_hit + heap_blks_read), 0)) as ratio
       FROM pg_statio_user_tables
       WHERE heap_blks_read > 0
      metrics:
        - relname:
            usage: "LABEL"
            description: "Name of this table"
        - heap_blks_read:
            usage: "COUNTER"
            description: "Number of disk blocks read from this table"
        - heap_blks_hit:
            usage: "COUNTER"
            description: "Number of buffer hits in this table"
        - ratio:
            usage: "GAUGE"
            description: "Ratio of cache hits in this table"
    pg_stat_statements:
      query: |
       SELECT t2.rolname, t3.datname, query, queryid, calls, ROUND(calls * 100 / SUM(calls) OVER (),2) AS pct_total_calls, total_exec_time / 1000 as total_time_seconds, ROUND(total_exec_time::NUMERIC * 100 / SUM(total_exec_time::NUMERIC) OVER (),2) AS pct_total_time, min_exec_time / 1000 as min_time_seconds, max_exec_time / 1000 as max_time_seconds, mean_exec_time / 1000 as mean_time_seconds, stddev_exec_time / 1000 as stddev_time_seconds, rows, shared_blks_hit, shared_blks_read, shared_blks_dirtied, shared_blks_written, local_blks_hit, local_blks_read, local_blks_dirtied, local_blks_written, temp_blks_read, temp_blks_written, blk_read_time / 1000 as blk_read_time_seconds, blk_write_time / 1000 as blk_write_time_seconds
       FROM pg_stat_statements t1 JOIN pg_roles t2 ON (t1.userid=t2.oid) JOIN pg_database t3 ON (t1.dbid=t3.oid)
       WHERE t2.rolname != 'rdsadmin'
      master: true
      metrics:
        - rolname:
            usage: "LABEL"
            description: "Name of user"
        - datname:
            usage: "LABEL"
            description: "Name of database"
        - query:
            usage: "LABEL"
            description: "Query"
        - queryid:
            usage: "LABEL"
            description: "Query ID"
        - calls:
            usage: "COUNTER"
            description: "Number of times executed"
        - pct_total_calls:
            usage: "GAUGE"
            description: "Total calls percentage"
        - total_time_seconds:
            usage: "COUNTER"
            description: "Total time spent in the statement, in milliseconds"
        - pct_total_time:
            usage: "GAUGE"
            description: "Total time percentage"
        - min_time_seconds:
            usage: "GAUGE"
            description: "Minimum time spent in the statement, in milliseconds"
        - max_time_seconds:
            usage: "GAUGE"
            description: "Maximum time spent in the statement, in milliseconds"
        - mean_time_seconds:
            usage: "GAUGE"
            description: "Mean time spent in the statement, in milliseconds"
        - stddev_time_seconds:
            usage: "GAUGE"
            description: "Population standard deviation of time spent in the statement, in milliseconds"
        - rows:
            usage: "COUNTER"
            description: "Total number of rows retrieved or affected by the statement"
        - shared_blks_hit:
            usage: "COUNTER"
            description: "Total number of shared block cache hits by the statement"
        - shared_blks_read:
            usage: "COUNTER"
            description: "Total number of shared blocks read by the statement"
        - shared_blks_dirtied:
            usage: "COUNTER"
            description: "Total number of shared blocks dirtied by the statement"
        - shared_blks_written:
            usage: "COUNTER"
            description: "Total number of shared blocks written by the statement"
        - local_blks_hit:
            usage: "COUNTER"
            description: "Total number of local block cache hits by the statement"
        - local_blks_read:
            usage: "COUNTER"
            description: "Total number of local blocks read by the statement"
        - local_blks_dirtied:
            usage: "COUNTER"
            description: "Total number of local blocks dirtied by the statement"
        - local_blks_written:
            usage: "COUNTER"
            description: "Total number of local blocks written by the statement"
        - temp_blks_read:
            usage: "COUNTER"
            description: "Total number of temp blocks read by the statement"
        - temp_blks_written:
            usage: "COUNTER"
            description: "Total number of temp blocks written by the statement"
        - blk_read_time_seconds:
            usage: "COUNTER"
            description: "Total time the statement spent reading blocks, in milliseconds (if track_io_timing is enabled, otherwise zero)"
        - blk_write_time_seconds:
            usage: "COUNTER"
            description: "Total time the statement spent writing blocks, in milliseconds (if track_io_timing is enabled, otherwise zero)"
