image:
  repository: registry.gitlab.apertis.org/infrastructure/qa-report-app/runtime
  tag: '{{ git.revision }}'

ingress:
  enabled: true
  className: traefik
  annotations:
    cert-manager.io/cluster-issuer: '{{ certificate_issuer }}'
  hosts:
    - host: '{{ hostname }}'
      paths:
        - path: /
          pathType: Prefix
  tls:
   - secretName: qa-report-app-tls
     hosts:
       - '{{ hostname }}'

config:
  debug: true
  proxy-count: 1

  db:
    host: postgresql
    user: '{{ postgresql.username }}'
    password: '{{ db_password }}'
    name: qa-report-app

  flask-secret-key: '{{ flask_secret_key.key }}'
  lava-callback-tokens: {{ lava_callback.tokens.split() | to_yaml }}

  openid:
    client-id: '{{ gitlab_oauth.client_id }}'
    client-secret: '{{ gitlab_oauth.client_secret }}'
    well-known-url: https://gitlab.apertis.org/.well-known/openid-configuration
  auth-groups:
    - name: apertis-developers
      extra-perms:
      - submit-reports
      - tag-images

  bug-tracking: gitlab
  qa-report-gitlab-token: '{{ gitlab_api.token }}'
  gitlab-url: https://gitlab.apertis.org
  gitlab-issues:
    filter-label: area:test-failure
    labels:
      - status:unconfirmed
      - priority:needs triage

  display:
    min-version: 'v2021'
    series-results:
      dailies: 4
      releases: 2
      weeklies: 4

  notifications:
    chat:
      icon-url: https://chat.collabora.com/api/v4/emoji/mtkc587ehbnedgimwhehud6xoy/image
      to: {{ notifications_chat.channels.split() | to_yaml }}
      url: '{{ notifications_chat.webhook_url }}'
      username: LAVA
    email:
      from: '{{ notifications_email.sender }}'
      to: {{ notifications_email.recipients.split() | to_yaml }}
      server: '{{ notifications_email.server }}'
      port: {{ notifications_email.port }}

resources:
  requests:
    cpu: 500m
    memory: 1Gi

