---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
spec:
  acme:
    email: sysadmin@collabora.com
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: core-issuer-account-key
    solvers:
      - selector:
          dnsZones:
            {{ zones }}
        dns01:
          route53:
            region: {{ route53.region }}
            accessKeyID: {{ route53.accessKeyID }}
            secretAccessKeySecretRef:
              key: secret-access-key
              name: {{ route53.secretKey }}
